.DS_Store
target/

# First ignore everything in completions
completions/*
# Then explicitly allow the shell completion files
!completions/*.bash
!completions/*.fish
!completions/_lla
!completions/*.ps1
!completions/*.elv